<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Oi, eu sou Kelvin.</h1>
		<p>Bem-vindo à este blog, contruído em virtude de estudos com RoR.</p>
		<p>Eu sinceramente espero que você goste do que está vendo, e sinta-se livre para fornecer seu feedback!</p>
	</div>
</div>